.custom-card {
  width: 24rem;
}

.card img {
  height: 15rem;
  object-fit: cover;
}

.background {
  background: linear-gradient(to left, rgb(2, 66, 130),rgb(62, 62, 62));
}

.title{
  margin-top: 100;
  color: rgb(255, 255, 255);
}

footer {
  text-align: center;
  padding: 127px;
  background-color: rgb(34, 33, 32);
  color: white;
}

.footer-text{
  font-family: cursive;
}